.attendants-container-large-screens{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    max-height: 70vh;
}


/* general tablet+mobile */
.attendants-container-mobile-tablet{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    max-height: 32vh;
}

/* exactly mobile   */
@media screen and (max-width:600px) {
    .attendants-container-mobile-tablet{
        grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
        max-height: 40vh;
    }
}



.video-container{
    max-height: 70vh;
}

