
/* show this light mode */
.container-live-header-light{
    
    /* background:  linear-gradient(to bottom right,#ffffff, #ffffff);
    border-radius: .5rem;
    padding: 1px; 
    box-shadow: -10px 10px 30px  inset #bdbdbd; */
  
}

/* shown at night mide */
.container-live-header-night{
    background:  linear-gradient(to bottom left, #4f4e44, transparent );
    border-radius: .5rem;
    padding: 1px;    
   

   
}

.instructor-link:hover{
    opacity: .9;
}




