

/* shown at night mide */
.container-live-header-night{
    background:  linear-gradient(to bottom left, #4f4e44, transparent );
    border-radius: .5rem;
    padding: 1px;    
   

   
}

.instructor-link:hover{
    opacity: .9;
}




